<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Shannon.Home.HomeCustomViewPageTest"/>
      <class name="com.Shannon.Home.HomePageTest"/>
      <class name="com.Shannon.Home.ViewAllEventsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
